@font-face {
    font-family: 'nunitoregular';
    src: url('images/nunito-regular-webfont.eot');
    src: url('images/nunito-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/nunito-regular-webfont.woff') format('woff'),
         url('images/nunito-regular-webfont.ttf') format('truetype'),
         url('images/nunito-regular-webfont.svg#nunitoregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'nunitobold';
    src: url('images/nunito-bold-webfont.eot');
    src: url('images/nunito-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('images/nunito-bold-webfont.woff') format('woff'),
         url('images/nunito-bold-webfont.ttf') format('truetype'),
         url('images/nunito-bold-webfont.svg#nunitobold') format('svg');
    font-weight: normal;
    font-style: normal;
}

body {
	color: #666;
	word-wrap: break-word;
	line-height: 22px;
	font-size: 14px;
}

a {
  color: #333;
  text-decoration: none;
  -webkit-transition: all 0.2s;
  -moz-transition: all 0.2s;
  -o-transition: all 0.2s;
  transition: all 0.2s;
}

a:hover,
a:focus {
  color: #cc2d66;
  text-decoration: none;
}

a:focus {
  outline: thin dotted;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

h1, h4, h5, h6, .h1, .h4, .h5, .h6 {
	font-weight: 100;
	color: #56247a;
}
h1,
.h1 {
  font-size: 48px;
}

h2,
.h2 {
  font-size: 13px;
  color: #fff;
  font-family: 'nunitoregular';
  padding: 1px 10px 0px 10px;
  margin: 0px 0 20px 0;
  line-height: 30px;
  background:  #56247a;
  display: inline-block;
  text-transform: uppercase;
  border-radius: 2px;
}
.entry-content h2{
  margin: 10px 0 20px 0;
}
.entry-content #contact h2{
  margin: 0px 0 20px 0;
}
h3,
.h3 {
  font-size: 14px;
  color: #666;
  font-weight: 600;
  border-bottom: 1px dotted #dadada;
  padding: 10px 0;
  margin: 0px 0 15px 0;
  text-transform: uppercase;
}

h4,
.h4 {
  font-size: 18px;
  color: #006f82;
  line-height: 26px;
  padding: 0 0 15px 0;
  margin: 0;
}

h5,
.h5 {
  font-size: 18px;
}

h6,
.h6 {
  font-size: 16px;
}

img {
	height: auto; /* Make sure images are scaled correctly. */
	max-width: 100%; /* Adhere to container width. */
  margin: 0px 0 0 0;
  border:none;
}


.site-main.accueil{
  margin: 10px 0 0 0;
}
.entry-content img {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  height: auto; /* Make sure images are scaled correctly. */
  max-width: 100%; /* Adhere to container width. */
  margin: 5px 0 25px 25px;
}
.entry-content p {
  margin: 0 0 15px 0;
}

.entry-content ul {
  margin: 0 0 30px 0;
  padding: 0;
}
.entry-content a {
  text-decoration: underline;
}
.entry-content ul li {
  margin: 0 0 5px 15px;
  padding: 6px 0 0 48px;
  list-style-type: none;
  background: transparent url(images/puce.jpg) no-repeat center left;
  min-height: 35px;
}
.entry-content ul.equipe li {
  margin: 0 0 5px 15px;
  padding: 6px 0 0 48px;
  list-style-type: none;
  background: transparent url(images/team.jpg) no-repeat center left;
  min-height: 35px;
}
.entry-content ul.btn_services {
  width: 100%;
  margin: 25px 0 30px 0;
}
.entry-content ul.btn_services li {
  display: inline-block;
 
  margin: 0 10px 10px 0;
  padding: 0;
  list-style-type: none;
  background: #f2f2f2;
  min-height: 35px;
  text-align: center;
  font-family: 'nunitoregular';
  color: #fff;
  
  width: 25%;
}
.entry-content ul.btn_services2 li {
  display: inline-block;
 
  margin: 0 10px 10px 0;
  padding: 0;
  list-style-type: none;
  background: #f2f2f2;
  min-height: 35px;
  text-align: center;
  font-family: 'nunitoregular';
  color: #fff;
  
  width: 23%;
}
.entry-content ul.btn_services3 li {
  display: inline-block;
  margin: 0 10px 10px 0;
  padding: 0;
  list-style-type: none;
  background: #f2f2f2;
  min-height: 35px;
  text-align: center;
  font-family: 'nunitoregular';
  color: #fff;  
  width: 23%;
  height: 70px;
  vertical-align:top;
}
.entry-content ul.btn_services li a{
  color: #006f82;
  font-size: 18px;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
  display: block;
  border-bottom:2px solid #ddd;
  border-radius: 3px;
}
.entry-content ul.btn_services2 li a{
  color: #006f82;
  font-size: 18px;
  text-decoration: none;
  padding: 20px 20px 20px 20px;
  display: block;
  border-bottom:2px solid #ddd;
  border-radius: 3px;
}
.entry-content ul.btn_services3 li a{
  color: #006f82;
  font-size: 18px;
  text-decoration: none;
  padding: 13px 20px 20px 20px;
  display: block;
  border-bottom:2px solid #ddd;
  border-radius: 3px;
  height: 70px;
}
.btn-center {
  padding: 25px 20px 20px 20px !important;
}
.entry-content ul.btn_services li a:hover{
  color: #cc2d66;
}
.entry-content ul.btn_services2 li a:hover{
  color: #cc2d66;
}
.entry-content ul.btn_services3 li a:hover{
  color: #cc2d66;
}
.entry-content #map {
  width: 50%;
  float: left;
  margin: 0 35px 0 0;
  border-radius: 2px;
}
.entry-content #contact {
  height: 380px;
}
.entry-content #contact #adresse {
  background: transparent url(images/adresse.png) no-repeat 1px 4px;
  margin: 0 0 10px 55%;
  padding-left: 30px;
}
.entry-content #contact #tel {
  background: transparent url(images/tel.png) no-repeat 1px 4px;
  margin: 0 0 10px 55%;
  padding-left: 30px;
}
.entry-content #contact #email {
  background: transparent url(images/email.png) no-repeat 1px 4px;
  margin: 0 0 10px 55%;
  padding-left: 30px;
}
button,
input,
select,
textarea {
	font-size: 100%; /* Corrects font size not being inherited in all browsers */
	margin: 0; /* Addresses margins set differently in IE6/7, F3/4, S5, Chrome */
	vertical-align: baseline; /* Improves appearance and consistency in all browsers */
	*vertical-align: middle; /* Improves appearance and consistency in all browsers */
}

input[type="checkbox"],
input[type="radio"] {
	padding: 0; /* Addresses excess padding in IE8/9 */
}
input[type="search"]::-webkit-search-decoration { /* Corrects inner padding displayed oddly in S5, Chrome on OSX */
	-webkit-appearance: none;
}
button::-moz-focus-inner,
input::-moz-focus-inner { /* Corrects inner padding and border displayed oddly in FF3/4 www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/ */
	border: 0;
	padding: 0;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #666;
	border: 1px solid #DDD;
	border-radius: 3px;
}
input[type="text"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="password"]:focus,
input[type="search"]:focus,
textarea:focus {
	color: #111;
}
input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 0 0 0 10px;
}
textarea {
	overflow: auto; /* Removes default vertical scrollbar in IE6/7/8/9 */
	padding-left: 3px;
	vertical-align: top; /* Improves readability and alignment in all browsers */
	width: 100%;
}


/* Alignment */
.alignleft {
	display: inline;
	float: left;
	margin-right: 1.5em;
}
.alignright {
	display: inline;
	float: right;
	margin-left: 1.5em;
}
.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto;
}

/* Text meant only for screen readers */
.screen-reader-text {
	clip: rect(1px, 1px, 1px, 1px);
	position: absolute !important;
}

.screen-reader-text:hover,
.screen-reader-text:active,
.screen-reader-text:focus {
	background-color: #f1f1f1;
	border-radius: 3px;
	box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
	clip: auto !important;
	color: #21759b;
	display: block;
	font-size: 14px;
	font-weight: bold;
	height: auto;
	left: 5px;
	line-height: normal;
	padding: 15px 23px 14px;
	text-decoration: none;
	top: 5px;
	width: auto;
	z-index: 100000; /* Above WP toolbar */
}

/* Clearing */
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
	content: '';
	display: table;
}

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
	clear: both;
}
.site-content{
  margin-top: 30px;
}
.content-area{
  padding-right: 15px;
}
.widget-area{
  padding-left: 15px;
  padding-top: 10px;
}
.widget-area .event{
  background: #333333;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.widget-area .event h3.title{
  padding: 15px 15px 15px 15px;
  margin: 0;
  border: none;
  font-family: inherit;
  letter-spacing: .8px;
}
.widget-area .event h3.title a{
  color: #fff;
  font-size: 16px;
  font-weight: bold;
  padding: 0;
  margin: 0;
}
.widget-area .event .date{
  background: #74b31f;
  color: #e2efd1;
  padding: 1px 15px 0px 15px;
  font-size: 13px;
  margin: 10px 0 0 0;
  -webkit-border-top-right-radius: 16px;
  -webkit-border-bottom-right-radius: 16px;
  -moz-border-radius-topright: 16px;
  -moz-border-radius-bottomright: 16px;
  border-top-right-radius: 16px;
  border-bottom-right-radius: 16px;
  display: inline-block;
  font-family: 'nunitoregular';
}
.widget-area .event p{
  color: #d7d7d7;
  font-size: 15px;
  line-height: 22px;
  padding: 15px 15px 20px 15px;
  margin: 0;
}
/* =Content
----------------------------------------------- */
.home-widget-area{
  border-top: 2px solid #eaeaea;
  padding:15px 0 0 0;

}
.home-widget-area .home-widget .widget_text{
  padding: 0px;
  color:#ffffff;
  font-size: 15px;
  line-height: 22px;
  margin:0px;
}
.home-widget-area h3.widgettitle{
  color: #fff;
  font-size: 20px;
  margin:0; 
  padding: 0 0 15px 0;
  font-family: 'nunitoregular';
  border: 0px;
  font-weight: normal;
  line-height: 24px;
  text-transform: none;
}
.home-widget-area #home1 .ico{
  padding: 0;
  margin:0 0 0 0px;
  position: absolute;
}
.home-widget-area #home2 .ico{
  padding: 0;
  margin:0 0 0 10px;
  position: absolute;
}
.home-widget-area #home3 .ico{
  padding: 0;
  margin:0 0 0 20px;
  position: absolute;
}
.home-widget-area #home1 .ecoute{
  background: #74b31f url(images/bulle1.png) no-repeat bottom right;
  padding: 20px 20px 15px 20px;
  margin: 22px 20px 0 0;
}
.home-widget-area #home1 .ecoute .widgettitle{
  color: #fff;
  font-size: 20px;
  margin:0; 
  padding: 0 50px 15px 0;
  font-family: 'nunitoregular';
  border: 0px;
  font-weight: normal;
  line-height: 24px;
}
.home-widget-area #home2 .consultations{
  background: #eb6909 url(images/bulle1.png) no-repeat bottom right;
  padding: 20px 20px 15px 20px;
  margin: 22px 10px 0 10px;

}
.widget_sp_image{
  margin: 0px;
  padding: 0px;
}
.home-widget-area #home2 #widget_sp_image-6 img{
 margin: 0 0 0 10px;
}
.home-widget-area #home3 .animations{
  background: #148295 url(images/bulle1.png) no-repeat bottom right;
  padding: 20px 20px 15px 20px;
  margin: 22px 0 0 20px
}
.home-widget-area #home3 #widget_sp_image-7 img{
 margin: 0 0 0 20px;

}
.home-widget-area #home1 #widget_sp_image-2 h3, 
.home-widget-area #home2 #widget_sp_image-6 h3, 
.home-widget-area #home3 #widget_sp_image-7 h3{
 display: none;
}

.home-widget-area .widget{
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
  
}
.sticky {
}
.hentry {
	margin: 0 0 1.5em;
}
.byline,
.updated {
	display: none;
}
.single .byline,
.group-blog .byline {
	display: inline;
}
.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}
.page-links {
	clear: both;
	margin: 0 0 1.5em;
}
@media (max-width: 767px) {
  .pull-left,
  .pull-right {
  	float: none !important;
  }
}

/* =Asides
----------------------------------------------- */

.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
	display: none;
}

/* =Media
----------------------------------------------- */

.page-content img.wp-smiley,
.entry-content img.wp-smiley,
.comment-content img.wp-smiley {
	border: none;
	margin-bottom: 0;
	margin-top: 0;
	padding: 0;
}
.wp-caption {
	border: 1px solid #ccc;
	margin-bottom: 1.5em;
	max-width: 100%;
}
.wp-caption img[class*="wp-image-"] {
	display: block;
}
.wp-caption-text {
	text-align: center;
}
.wp-caption .wp-caption-text {
	margin: 0.8075em 0;
}

.site-main .gallery {
	margin-bottom: 1.5em;
}
.gallery-caption {
}
.site-main .gallery a img {
	border: none;
	height: auto;
	max-width: 90%;
}
.site-main .gallery dd {
	margin: 0;
}
.site-main .gallery-columns-4 .gallery-item {
}
.site-main .gallery-columns-4 .gallery-item img {
}

/* Make sure embeds and iframes fit their containers */
embed,
iframe,
object {
	max-width: 100%;
}

/* =Widgets
----------------------------------------------- */

.widget {
	margin: 0 0 1.5em;
}

/* Make sure select elements fit in widgets */
.widget select {
	max-width: 100%;
}
.home .widget_nav_menu{
}
.widget_nav_menu li{
  list-style-type: none;
  margin: 0 0 5px 0;
  font-size: 12px;
  width: 100%;
  padding: 0 0px;
  border-bottom: 1px dotted #dadada;
}
.widget_nav_menu li a{
  color: #cc2d66;
}
.widget_nav_menu li a:hover{
  color: #8c113d;
}

.widget > ul > li,
li.recentcomments,
.widget_nav_menu ul#menu-services li {
	border-bottom: 1px solid #dadada;
	position: relative;
	display: block;
	padding: 5px 0px;
}
.widget_nav_menu ul#menu-services li a:hover{
  color:#cc2d66;
}
.widget ul {
  padding: 0 0 5px 0px;
  margin: 0;
}

.widget-title {
  border-bottom: 2px solid #dadada;
  margin: 0 0 15px 0;
  padding: 5px 0px 10px 0px;
  border-top: 0px;
  text-transform: uppercase;
}
.tarifs.widget{
  font-family: 'nunitoregular';
  
  padding: 0;
  text-align: center;
}


.tarifs.widget a{
  color: #fff;
  font-size: 18px;
  padding: 10px;
  display: block;
  border-bottom: 2px solid #ad1d51;
  border-radius: 3px;
  background: #cc2d66;
}
.tarifs.widget a:hover{
  color: #fff;
  font-size: 18px;
  padding: 10px;
  display: block;
  border-bottom: 2px solid #8c113d;
  border-radius: 3px;
  background: #c71756;
}
.tarifs.widget .widget-title{
  display: none;
}
.horaires.widget{
  margin: 0 0 40px 0;
}
.horaires.widget .jour{
  margin: 0 0 5px 0;
  font-size: 12px;
  width: 100%;
  padding: 0 0px;
  border-bottom: 1px dotted #dadada;
}
.horaires.widget .heure{
  float: right;
}
.widget ul.nav.nav-tabs {
  padding: 0;
}
.tab-content ul li {
  list-style: none;
}

.tab-content .tab-thumb {
  float: left;
  margin-right: 8px;
  padding-top: 5px;
  float: left;
  line-height: 0px;
  width: 60px;
  height: 60px;
}
.tab-content li {
  overflow: hidden;
  list-style: none;
  border-bottom: 1px solid #f0f0f0;
  margin: 0 0 8px;
  padding: 0 0 6px;
}
.tab-content .tab-entry {
	display: block;
}
.tab-content > .active {
  border: 1px solid #DDD;
  border-top: none;
}
.tab-content ul li:last-child {
  border-bottom: 0;
  margin-bottom: 0;
  padding-bottom: 0;
}
.tab-content .tab-entry {
  font-weight: 600;
  font-size: 14px
}
.tab-comment {
  font-size: 18px;
  padding: 0 10px;
}
.nav-tabs > li > a {
  border-bottom-color: transparent;
  text-transform: uppercase;
}
.tab-content i {
    font-size: 12px;
}
.tab-thumb.thumbnail {
    margin-bottom: 5px;
}
.tab-content #messages li:before {
  content: '\f0e5';
  font-family: fontawesome;
  float: left;
  padding-right: 10px;
  font-size: 20px;
  color: #56247a;
}
.btn-primary, .label-primary {
	background-color: #56247a;
	border-color: #56247a;
}
.btn-primary:hover, .label-primary[href]:hover, .label-primary[href]:focus, .btn-primary:hover, .btn-primary:focus, .btn-primary:active, .btn-primary.active, #image-navigation .nav-previous a:hover, #image-navigation .nav-next a:hover {
	background-color: #4b3371;
	border-color: #4b3371;
}
.widget .input-group {
    width: 110%;
}
/* =Infinite Scroll
----------------------------------------------- */

/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .paging-navigation, /* Older / Newer Posts Navigation (always hidden) */
.infinite-scroll.neverending .site-footer { /* Theme Footer (when set to scrolling) */
	display: none;
}

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before */
.infinity-end.neverending .site-footer {
	display: block;
}
#infinite-handle span {
  display: block;
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  border-radius: 4px;
  padding: 12px;
  background: transparent;
  border: 1px solid #DDD;
  color: #56247a;
	-webkit-transition: all 0.2s;
	   -moz-transition: all 0.2s;
	     -o-transition: all 0.2s;
	        transition: all 0.2s;
}
#infinite-handle span:hover {
  background-color: #56247a;
  color: #fff;
}
/* =Custom Styles
----------------------------------------------- */
#conthead{
  background: #006f82;
  margin: 0;
  padding: 0;
  height: 105px;
}
.social-header{
  margin: 0;
  padding: 0;
}
.social-header p{
  color: #148295;
  font-family: 'nunitoregular';
  font-size: 18px;
  background: #fff url(images/tel.jpg) no-repeat top left;
  height: 25px;
  padding: 0px 5px 0 35px;
  display: block;
  float: right;
  margin: 25px 0 0 0;
  line-height: 26px;
}
.social-header p#adresse_head{
  color: #fff;
  font-size: 11px;
  padding: 0px 0px 0 0px;
  display: block;
  float: right;
  margin: 10px 0 0 0;
  line-height: 14px;
  background: none;
  width: 120px;
  text-align: right;
}
.site-branding {
  margin-top: 0px;
  margin-bottom: 0px;

}
.site-description {
  color: #fff;
  font-weight: 400;
  font-size: 30px;
  margin:0;
  padding: 25px 0 0 300px;
  font-family: 'nunitoregular';
  text-shadow: 1px 1px #065765;
}
.site-branding p {
  color: #77b5bf;
  font-size: 14px;
  padding: 0px 0 0 300px;
  letter-spacing: 3.9px;
  }
#page #logo a {
  position: absolute;
  background: transparent url(images/bg-logo.png) no-repeat top left;
  z-index: 999;
  top: 0;
  left: 0;
}
.page-template-page-homepage-php .carousel {
	margin-top: -20px;
	margin-bottom: 20px;
}


/* =Navigation
----------------------------------------------- */

.site-main [class*="navigation"] a,
.more-link {
	border: 1px solid #DDD;
	padding: 6px 12px;
	border-radius: 4px;
	display: block;
}
.site-main [class*="navigation"] a:hover,
.more-link:hover {
  color: #fff;
  background: #56247a;
  text-decoration: none;
}
.more-link {
  float: right;
  margin: 10px 0;
}
.site-main [class*="navigation"] {
	margin: 0 0 1.5em;
	overflow: hidden;
}
[class*="navigation"] .nav-previous {
	float: left;
}
[class*="navigation"] .nav-next {
	float: right;
	text-align: right;
}
.navbar.navbar-default {
  font-weight: 200;
  margin: 0;
  padding: 0;
  background: transparent url(images/bg-top.jpg) repeat-x top left;
  z-index: 888;
}
.navbar.navbar-default .container {
  
}
.navbar.navbar-default .container .navbar-collapse{

  background-color: #564784;
}
.navbar.navbar-default .navbar-nav  {
  /*margin-left: 52%;*/
}
.navbar-default .navbar-nav > li > a {
  color: #fff;
  border-right: 1px solid rgba(0,0,0,.2);
	box-shadow: 1px 0 0 rgba(255, 255, 255, 0.10);
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
	border-right: 1px solid rgba(0,0,0,.2);
	border-left: none;
}
.navbar {
	border-radius: 0;
}
.navbar-default {
	border: none;
}
.navbar-default .navbar-nav > .active > a,
.navbar-default .navbar-nav > .active > a:hover,
.navbar-default .navbar-nav > .active > a:focus,
.navbar-default .navbar-nav > li > a:hover,
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus,
.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.1);
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a {
	color: #fff;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
	border-left: 1px solid rgba(0, 0, 0, 0.1);
}
.dropdown-menu > li > a {
	padding: 18px 20px;
	color: #fff;
}
.dropdown-menu,
.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus {
	background-color: #56247a;
	border: none;
}
.dropdown-menu .divider {
	background-color: rgba(0, 0, 0, 0.1);
}
.navbar-nav > li > .dropdown-menu {
	padding: 0;
}
.navbar-nav > li > a {
	padding-top: 14px;
	padding-bottom: 14px;
}

.navbar-default .navbar-toggle:hover,
.navbar-default .navbar-toggle:focus {
  background-color: transparent;
}

/* =Comments
----------------------------------------------- */

.comment-content a {
	word-wrap: break-word;
}
.bypostauthor {
}

#respond {
	background-color: transparent!important;
	box-shadow: none!important;
	padding: 0px!important;
}

#respond > p, #respond p.comment-notes, p.logged-in-as {
	margin-bottom: 10px;
}

p.logged-in-as {
	padding-bottom: 0px;
}

.comment-list {
	margin-bottom: 40px!important;
	margin-left: 0px!important;
	padding-left: 0;
}

.comment-list li {
	list-style: none!important;
}

.comment .comment-body {
	background-color: #ffffff;
  margin: 0;
  overflow: hidden;
  padding: 25px;
  margin-top: 2em;
  padding-left: 116px;
  position: relative;
  border: 1px solid rgba(0, 0, 0, 0);
  border-color: #eee;
  border-radius: 4px;
}

.comment-list .children {
	margin-left: 0px!important;
	padding-left: 40px;
	border-left: 1px solid #EEE;
	background-repeat: no-repeat;
	background-position: left 20px;
}

.comment-list li.comment > div img.avatar {
	position: absolute;
	left: 29px;
	top: 29px;
}

#comment-form-title {
  font-size: 24px;
  padding-bottom: 10px;
}
.vcard .avatar {
  position: absolute;
  left: 29px;
  top: 29px;
}
.comment-metadata {
  font-size: 11px;
  line-height: 16px;
  margin-bottom: 10px;
}
.comment-reply-link {
  float: right;
}
.form-allowed-tags code {
  word-wrap: break-word;
  white-space: inherit;
}
.comment-respond label {
  display: block;
  font-weight: normal;
}
.comment-respond .required {
  color: #C7254E;
}
/* =Post styling
----------------------------------------------- */
.entry-meta a {
	font-size: 12px;
}
#main .page{

}
#main .page-header {
  margin-top: 0;
  padding: 0;

}
.entry-meta {
  text-transform: uppercase;
}
.entry-meta a {
  color: #6B6B6B;
}
.entry-meta .fa {
  font-size: 16px;
  margin-right: 3px;
  color: #56247a;
}
.entry-meta span {
  margin-right: 10px;
}
.entry-title {
  font-size: 24px;
  font-weight: normal;
  color: #cc2d66;
  font-family: 'nunitoregular';
  padding: 8px 0 6px 0;
  margin: 0;
  text-transform: uppercase;
}
.btn.btn-primary.read-more {
  float: right;
  border: 1px solid #DDD;
  color: #56247a;
  background-color: transparent;
}
.btn.btn-primary.read-more:hover {
	color: #FFF;
  background-color: #56247a;
}
.search .more-link {
    display: none;
}
hr.section-divider {
  height: 1px;
  background: #EEE;
  position: relative;
  overflow: visible;
  z-index: 100;
  margin-top: 20px;
  margin-bottom: 20px;
}

hr.section-divider:after {
  z-index: 10000;
  /*content: "\f004";*/
  font-family: FontAwesome;
  color: #56247a;
  position: absolute;
  top: -23px;
  left: 50%;
  right: 50%;
  width: 40px;
  height: 30px;
  margin-left: -20px;
  font-size: 30px;
}
.entry-content {
	margin: 0;
}
/* =Attachment styling
----------------------------------------------- */
#image-navigation .nav-previous a,
#image-navigation .nav-next a{
  padding: 5px 20px;
  border: 1px solid #DDD;
  border-radius: 4px;
  display: block;
}
#image-navigation .nav-previous a:hover,
#image-navigation .nav-next a:hover{
  background-color: #56247a;
  color: #fff;
}
#image-navigation .nav-previous,
#image-navigation .nav-next {
  margin: 10px 0;
}

/* =Footer
----------------------------------------------- */

.footer-nav.nav > li {
  position: relative;
  display: inline-block;
}
.footer-nav.nav {
	float: left;
	margin-bottom: 2px;
}
.copyright {
  margin-top: 10px;
  float: right;
  text-align: right;
}
#colophon {
  background-color: #eaeaea;
  padding: 30px 0 15px 0;
  margin-top: 20px;
}
footer .container{
  background: transparent url(images/bulles-footer.png) no-repeat center right;
}
.site-info a {
  color: #cc3366;
}
.site-info a:hover {
	color: #a52550;
}
.site-info {
  color: #666;
  font-size: 12px;
  line-height: 16px;
}
.footer-nav.nav > li > a:hover {
  background-color: transparent;
}

@media (max-width: 767px) {
	.site-info, .copyright {
	  text-align: center;
	}
	.footer-nav.nav, .copyright {
		float: none;
	}
	.carousel-caption {
		display: none;
	}
}


/* =Social icons
----------------------------------------------- */

.social-profile {
  font-size: 24px;
  margin: 6px;
  color: #DDD;
}

#social {
  float: right;
  top: 55px;
  position: relative;
}

@media (min-width: 992px) {
	#social {
		float: right;
		top: 55px;
		position: relative;
	}
}

@media (max-width: 992px) {
	.site-branding {
		text-align: center;
	}
	#social {
		top: 0;
		float: none;
		text-align: center;
	}
}

/* =Slider
----------------------------------------------- */

.carousel-caption {
  

}
.carousel-caption h4, .carousel-caption h4 a {
  padding: 0px;
  color: #fff;
  margin: 75px 0 4px 0;
  font-family: 'nunitoregular';
  font-size: 21px;
  line-height: 28px;
}
.carousel-caption {
  left: 20px;
  text-align: left;
  padding-bottom: 20px;
}
.carousel-caption p, .carousel-caption p a {
	color: #fff;
  padding: 30px 0 0 0;
  font-size: 16px;
}
.carousel-caption p a:hover {
  color: #eb6909;
}
.carousel {
  margin-bottom: 20px;
}
@media screen and (min-width: 768px) {
  .carousel-indicators {
    bottom: 5px;
  }
}

/*MyStyle*/
.container {
  border:none !important;
}
#container-pro1{
  float:left;
}

#container-pro2{
  float:left;
  margin-left: 80px;
}